body {
   background: #fff;
   color: 333;
}
 
/* Dành cho điện thoại */
@media all and (max-width: 480px) {
 
}
 
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
 
}
.container{
	width: 400px;
	height: 300px;
	margin-top: 150px;
	margin-left: 450px;
	background: #DBDBDB;
	border-radius: 15px;
	text-align: center;
}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -50px;
	margin-bottom: 30px;	
}
input[type="text"],input[type="password"]{
	width: 240px;
	height: 44px;
	margin-bottom: 20px;
	font-size: 18px;
	border: 1px solid #000;
	padding-left: 45px;
}
input[type="submit"]{
	padding: 10px 20px;
	background: #150;
	color: #fff;
	border:  none;
	margin-bottom: 20px;
	cursor: pointer;
}
.cust{
	position: absolute;
	background: #fff;
	margin-right: 18px;
	margin-top:  1px;
	width: 44px;
	height: 36px;
	padding-top: 8px;
	border: 1px solid #fff;
}
div#bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}  
