
html {
      display: block;
}
head {
    display: none;
}
body {
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
} 
/* Dành cho điện thoại */
@media all and (max-width: 480px) {
 
}
 
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
 
}
.page {
    width: 1270px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}
.header{
	position: relative;
	margin: 0px;
	padding: 0px;
	background:#4b6c9e;
	width: 100%;
}
.header h1 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    font-family: Arial;
}
.main
{
     padding: 0px 12px;
    margin: 20px 20px 0px 0px;
    min-height: 420px; 
}
.main1{
	float: left;
	min-height: 420px;
    font-size: 1em;
    font-family: Arial;
}
.main2{
	margin: 0px 50px 0px 0px;
	width: 750px;
	float: right;
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    font-size: xx-small;
}

.loginDisplay
{
    font-size: medium;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    height: 19px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
input[type=password] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}



